@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

/* Updated 4-1-2020 */

html {
	background-color:#1D3536;	
}

img, object, embed, video {
	max-width: 100%;
}
body {
	font-family: "Hammersmith One", hammersmith-one, Franklin Gothic Medium, Candara, Lato, sans-serif;
	font-style: normal;
	color: #1D3536;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
a {
	text-decoration:none;
}

h1, h2, h3, h4, h5 {
	text-align: center;
	font-weight: normal;
}
h2 {
	line-height: 1.1;
}

figure {
	padding: 0;
	margin: 0;
}

.hideThis {
	display:none;
}

.sectionContainer {
	max-width: 1232px;
	margin: auto;
	text-align: center;
}
.clearBoth {
	clear: both;
}
.floatRight {
	float: right !important;
}
.margin100 {
	margin: 100px auto !important;
}
.margin50 {
	margin: 50px auto !important;
}
.orange {
	color: #FF6F00;
	text-shadow: 1px 1px 0 #A64800;
}

label {
    display: inline-block;
    width: 5em;
  }

sup {
	display:inline;
	text-decoration:none;
}

sup a{
	color:#2D67C0;
}

sup a:visited{
	color:#6B2ECD;
}

.ui-tooltip {
	color:white;
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	background-color: #FF5F00;
	border-radius: 5px;
}
body .ui-tooltip {
	border-width: 2px;
}

.hideme {
	opacity: 0;
}
.tableCell {
	display: table-cell;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width: 100%;
}

.backgroundPositionBottom {
	/*animation: backgroundAnimation 3s;*/
	transition:background 1s ease;
	background-position:bottom !important;
}

.twitter-share-button {
	margin-right:10%;
}
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	15;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}
.fluidList {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
/* Mobile Layout: 480px and below. */

h2 {
	font-size: 280%;
}
h3 {
	font-size: 200%;
	line-height: 1;
}

h4 {
	font-size: 140%;
	padding: 0;
	margin: 0;
	letter-spacing: -0.5px;
}

h5 {
	font-size: 130%;
}

.big {
	font-size: 200%;
	line-height: 1;
	text-align:center;
}

.medium {
	font-size: 140%;
	padding: 0;
	margin: 0;
	letter-spacing: -0.5px;
	text-align: center;
}

.small {
	font-size: 130%;
	text-align:center;
}

p {
	font-size: 110%;
}
.darkArrowStart {
	background-image: url(../images/dark_arrow.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 100px;
}
.darkArrowEnd {
	background-image: url(../images/dark_arrow_end.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 100px;
	clear: both;
}
.lightArrowEnd {
	background-image: url(../images/light_arrow_end.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 100px;
	clear: both;
}
.largeImage {
	width: 90%;
}
figcaption {
	font-size: 110%;
	margin-top:10px;
}
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	clear: none;
	float: none;
}
.sectionContainer {
	padding: 0 1%;
}
#div1 {
}
#title {
	background-color: #33CEC3;
	background-image: none;
}
.titleBG {
	background-image: url(../images/dark_arrow_small_bg.png);
	background-position: bottom center;
	background-repeat:repeat-y;
}
.titleLogo {
	width: 100%;
	margin: 50% auto 50% auto;
}
#introduction {
	background-color: #ACDDDA;
	padding-top: 100px;
}
#thesis {
	margin: 100px auto;
}
#million{
	background-image:url(../images/20million.png);
	min-height: 80px;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center 220px;
}
#million p{
	opacity: 0;
	color: #ACDDDA;
}
.USInfections {
}
.infectionsUS p{
	color: #A64800;
	clear: none;
	font-size: 130%;
	line-height: 1.12;
	letter-spacing: -0.5px;
	margin-top: 10px;
}
#goodNews {
	background-color: #FF6F00;
	color: #FFF;
	margin: 0 auto;
}

#goodNews h2 {
	margin: 0 auto;
	line-height: 2.5;
}

#leadIn {
	background-color: #ACDDDA;
	margin: 0 auto;
	padding: 150px 0 0 0;
}
#leadIn p.big {
	margin: 0 auto;
}
#STDgroup {
	margin: 150px auto;
}

.twoFigures {
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-bottom: 40px;
}

.twoFigures img {
	width: 80%;
}

.threeFigures {
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-bottom: 40px;
}
.threeFigures img{
	width:80%;
}

.fourFigures {
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-bottom: 40px;
}
.fourFigures img{
	width:80%;
}

#abstinence {
	color: white;
	text-align: center;
	background-color: #009D91;
	background-position: center -100px;
	background-repeat: no-repeat;
}
#vaccination {
	background-color: #ACDDDA;
}
.bandages {
	background-image: url(../images/bandages.png);
	background-position: top center;
	background-repeat: repeat;
}
#hpvCancers {
	margin: 50px auto;
}
.pLeftSide {
	max-width: 100%;
}
#hpvVaccine {
	margin: 50px auto;
}
.rightPie{
}

#vaccineSurvey {
	margin: 50px 0 100px 0;
}
.pCenter {
	max-width: 100%;
	clear: both;
	margin-left: 0;
}
.pieChart {
	width: 100%;
	clear: both;
	margin-left: 0;
}
#underutilized {
	margin: 50px auto;
}
#HPVcases {
}

#percent {
	float: none;
	clear: none;
	font-size: 1400%;
	display: inline-block;
	font-family: squada-one, sans-serif;
	font-style: normal;
	font-weight: 400;
	text-align: right;
	padding: 0;
	vertical-align: middle;
	line-height: 0.7;
	letter-spacing: -15px;
}

#partners {
	color: white;
	background-color: #009D91;
	background-position: center -100px;
	background-repeat: no-repeat;
	padding-top: 0px;
}
#talk {
	color: white;
	background-color: #009D91;
}
#condoms {
	background-color: #ACDDDA;
	background-position: center -100px;
	background-repeat: repeat;
}
.condomBubbles {
	background-image: url(../images/condom_bubbles.png);
	height: 100%;
	width: 100%;
}
#condomUse {
	margin: 70px 0;
}
#condomUse img {
	margin: 10px 0 30px 0;
	width: 80%;
}
.pHalf {
	width: 100%;
	display: block;
	clear: both;
	margin: 0;
}

#condom_instructions{
	background-color:#A33133;
	
}
#condom_instructions:hover {
	color:#A33133;
	background-color:#FFF;
	box-shadow: inset 0 0 0 3px #A33133;
}
#condom_instructions:focus {
	color:#A33133;
	background-color:#FFF;
	box-shadow: inset 0 0 0 3px #A33133;
}

#condom_tips{
	background-color:#E89E00;	
}

#condom_tips:hover {
	color:#E89E00;
	background-color:#FFF;
	box-shadow: inset 0 0 0 3px #E89E00;
}
#condom_tips:focus {
	color:#E89E00;
	background-color:#FFF;
	box-shadow: inset 0 0 0 3px #E89E00;
}

#conversation{
	background-color:#D574AF;
	
}
#conversation:hover {
	color:#D574AF;
	background-color:#FFF;
	box-shadow: inset 0 0 0 3px #D574AF;
}
#conversation:focus {
	color:#D574AF;
	background-color:#FFF;
	box-shadow: inset 0 0 0 3px #D574AF;
}

#testPositive {
	color: white;
	background-color: #009D91;
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 0px;
}
#tested {
	background-color: #ACDDDA;
	background-image: url(../images/positive.png);
	background-repeat: repeat;
}
.positiveSigns {
	background-image: url(../images/positive.png);
	background-repeat: repeat;
}
.negativeSigns {
	background-image: url(../images/negative.png);
	background-repeat: repeat;
	background-position: 170px 170px;
}
#positive {
	color:black;
	margin: 100px auto;
	border-top:5px solid #000000;
	border-bottom:5px solid #000000;
	background-image: url(../images/yellow_bars.png);
	background-color:#E7A500;
}
#positive h2 {
	margin:20px auto;
}
#moreInfo {
}
.infoButton {
	padding: 10px;
	color:white;
	border-radius: 10px;
	font-size:125%;
	margin:5px;
	transition: all 400ms ease 0s;
	display:block;
	cursor:pointer;
}

.infoButton:visited {
	color:#fff;
}

#read{
	background-color:#EB9811;
}
#read:hover {
	color:#EB9811;
	background-color:#FFF;
	box-shadow: inset 0 0 0 3px #EB9811;
}

#read:focus {
	color:#EB9811;
	background-color:#FFF;
	box-shadow: inset 0 0 0 3px #EB9811;
}

#follow{
	background-color: #64A5F4;
}
#follow:hover {
	color: #64A5F4;
	background-color: #FFF;
	box-shadow: inset 0 0 0 3px #64A5F4;
}

#follow:focus {
	color: #64A5F4;
	background-color: #FFF;
	box-shadow: inset 0 0 0 3px #64A5F4;
}

#subscribe{
	background-color:#F51E22;
}
#subscribe:hover {
	color:#F51E22;
	background-color: #FFF;
	box-shadow: inset 0 0 0 3px #F51E22;
}

#subscribe:focus {
	color:#F51E22;
	background-color: #FFF;
	box-shadow: inset 0 0 0 3px #F51E22;
}

#like {
	background-color: #5cd21f;
}
#like:hover {
	color:#5cd220;
	background-color: #FFF;
	box-shadow: inset 0 0 0 3px #5cd220;
}

#like:focus {
	color:#5cd220;
	background-color: #FFF;
	box-shadow: inset 0 0 0 3px #5cd220;
}

#contact{
	background-color:#A400C1;
}
#contact:hover{
	color:#A400C1;
	background-color: #FFF;
	box-shadow: inset 0 0 0 3px #A400C1;
}

#contact:focus{
	color:#A400C1;
	background-color: #FFF;
	box-shadow: inset 0 0 0 3px #A400C1;
}

#testing {
}

#references {
	color:#fff;
	background-color: #1D3536;
}

.referenceList {
	width:80%;
	margin-top:0;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px;
	text-align:left;
}

.referenceList a{
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}

.referenceList a:hover{
	text-decoration:underline;
}

.referenceList li{

}

.zeroMargin_mobile {
	margin-left: 0;
}
.hide_mobile {
	display: none;
}


.tooltip_link img{
	margin-left:3px;
	vertical-align:baseline;
	width:15px;
	height:15px;
	background-color: #999999;
	border-radius: 8px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px #999999;
	-webkit-box-shadow: 0 0 0 1px #999999;
}

.tooltip_link img:hover {
	background-color: #FF5F00;
	box-shadow: 0 0 0 2px #FF5F00;
	-webkit-box-shadow: 0 0 0 2px #FF5F00;
}


.twitter_link img{
	margin-left:3px;
	vertical-align:super;
	width:15px;
	height:15px;
	background-color: #999999;
	border-radius: 8px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px #999999;
	-webkit-box-shadow: 0 0 0 1px #999999;
}

.twitter_link img:hover {
	background-color: #007CFF;
	box-shadow: 0 0 0 2px #007CFF;
	-webkit-box-shadow: 0 0 0 2px #007CFF;
}

#references p a{
	text-align:center; 
	font-size:12px; 
	color:#fff;
}

#references p a:hover{
	text-decoration:underline;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
h2 {
	font-size: 400%;
	margin-bottom: 20px;
}

h3 {
	font-size: 300%;
	line-height: 1;
}
h4 {
	font-size: 190%;
	margin: 0;
	padding: 0;
}
h5 {
	font-size: 130%
}

.big {
	font-size: 300%;
	line-height: 1;
	text-align:center;
}

.medium {
	font-size: 190%;
	line-height: 1.4;
	margin: 0;
	padding: 0;
	text-align: center;
}

.small {
	font-size: 130%;
	text-align:center;
}

p {
	font-size: 120%;
	line-height: 1.7;
}
.darkArrowStart {
	background-image: url(../images/dark_arrow.png);
	background-position: top center;
	height: 257px;
}
.darkArrowEnd {
	background-image: url(../images/dark_arrow_end.png);
	background-position: bottom center;
	height: 257px;
	clear: both;
}
.lightArrowEnd {
	background-image: url(../images/light_arrow_end.png);
	height: 257px;
	clear: both;
}
.largeImage {
	width: 90%;
	margin: 20px auto;
}
.gridContainer {
	width: 100%;
	padding-left: 0;
	padding-right: 0%;
	clear: none;
	float: none;
	margin-left: auto;
}
.sectionContainer {
	padding: 0 1.5%;
}
#div1 {
}
#title {
	background-color: #33CEC3;
	background-image: none;
	background-position: bottom center;
}
.titleLogo {
	width: 100%;
	margin: 40% auto 40% auto;
}
.titleBG {
	background-image: url(../images/dark_arrow_medium_bg.png);
}
#introduction {
}
#thesis {
}
#million{
	background-image:url(../images/20million.png);
	min-height: 130px;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center 220px;
}
#million p{
	opacity: 0;
	color: #ACDDDA;
}

.USInfections {
}
.infectionsUS p{
	font-size: 170%;
	margin-top: 10px;
}
#goodNews {
	background-color: #FF6F00;
	color: #FFF;
	margin: 0 auto;
}
#goodNews h2 {
	margin: 0 auto;
	line-height: 1.7;
}
#leadIn {
	background-color: #ACDDDA;
	margin: 0 auto;
	padding: 100px 0 0 0;
}
#leadIn p.big {
	margin: 0 auto;
}
#STDgroup {
	margin: 100px 0;
}
.twoFigures {
	width: 49%;
	margin-left:0.5%;
	clear: none;
}
.twoFigures img {
	width: 90%;
}
.threeFigures {
	width: 32.6007%;
	margin-left: 1.0989%;
	clear: none;
}
.threeFigures img{
	width:90%;
}
.fourFigures {
	width: 22.5%;
	margin-left: 3.3%;
	clear: none;
}
.foureFigures img{
	width:100%;
}
#abstinence {
	background-position: top center;
}
#vaccination {
	background-color: #ACDDDA;
}
.bandages {
}
#hpvCancers {
}
.pLeftSide {
	max-width: 100%;
	text-align: center;
}
#hpvVaccine {
}
.rightPie{
	float:right;
}

#vaccineSurvey {
	margin: 50px 0 100px 0;
	display: table-cell;
	vertical-align: middle;
}
.pCenter {
	max-width: 35%;
	clear: none;
	margin-left: 1.6574%;
	float: none;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.pieChart {
	width: 23.7569%;
	clear: none;
	margin-left: 1.6574%;
	float: none;
	display: inline-block;
	vertical-align: middle;
}
#underutilized {
	margin: 100px auto 0 auto;
}
#HPVcases {
	margin: 100px auto 0 auto;
}
#HPVcancerCanvas {
	max-width: 100%;
	float: none;
	clear: none;
	display: inline-block;
	padding: 0;
	vertical-align: middle;
}
#percent {
	max-width: 100%;
	font-size: 2000%;
	font-weight: 400;
	text-align: center;
	line-height: 0.7;
	letter-spacing: -20px;
}
#partners {
	background-position: top center;
}
#talk {
}
#condoms {
	background-position: top center;
}

#condomUse {
	margin: 100px auto;
}
#condomUse img {
	margin-bottom: 50px;
	margin-top: 0px;
	width: 97%;
}
.pHalf {
	width: 49.1712%;
	display: block;
	clear: none;
	margin-left: 1.6574%;
	text-align: left;
}

#condom_instructions:hover {
	box-shadow: inset 0 0 0 7px #A33133;
}

#condom_instructions:focus {
	box-shadow: inset 0 0 0 7px #A33133;
}

#condom_tips{
}
#condom_tips:hover {
	box-shadow: inset 0 0 0 7px #E89E00;
}
#condom_tips:focus {
	box-shadow: inset 0 0 0 7px #E89E00;
}
#conversation{	
}
#conversation:hover {
	box-shadow: inset 0 0 0 7px #D574AF;
}

#conversation:focus {
	box-shadow: inset 0 0 0 7px #D574AF;
}

#testPositive {
}
#tested {
}
.positiveSigns {
}
.negativeSigns {
}
#positive {
	color:black;
	margin: 100px auto;
	border-top:5px solid #000000;
	border-bottom:5px solid #000000;
	background-color:#E7A500;
}
#positive h2 {
	margin:30px auto;
}
#moreInfo {

}


.infoButton {
	padding: 15px;
	border-radius: 10px;
	font-size:190%;
	margin:10px;
}
#read:hover {
	box-shadow: inset 0 0 0 7px #EB9811;
}

#follow:hover {
	box-shadow: inset 0 0 0 7px #64A5F4;
}

#follow:focus {
	box-shadow: inset 0 0 0 7px #64A5F4;
}

#subscribe:hover {
	box-shadow: inset 0 0 0 7px #F51E22;
}

#subscribe:focus {
	box-shadow: inset 0 0 0 7px #F51E22;
}

#like {
}
#like:hover {
	box-shadow: inset 0 0 0 7px #243BA3;
}

#like:focus {
	box-shadow: inset 0 0 0 7px #243BA3;
}


#contact{
}
#contact:hover{
	box-shadow: inset 0 0 0 7px #A400C1;
}

#contact:focus{
	box-shadow: inset 0 0 0 7px #A400C1;
}

#testing {
	margin: 100px auto;
}
.hide_tablet {
	display: none;
}

.zeroMargin_tablet {
	margin-left: 0;
}

.tooltip_link img{
	width:18px;
	height:18px ;
	border-radius: 10px;
	border: 2px solid #fff;
}

.tooltip_link img:hover {
	background-color: #FF5F00;
	box-shadow: 0 0 0 2px #FF5F00;
	-webkit-box-shadow: 0 0 0 2px #FF5F00;
}

.twitter_link img{
	width:18px;
	height:18px;
	border-radius: 10px;
	border: 2px solid #fff;
}

.twitter_link img:hover {
	background-color: #007CFF;
	box-shadow: 0 0 0 2px #007CFF;
	-webkit-box-shadow: 0 0 0 2px #007CFF;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
h2 {
	font-size: 600%;
	margin-bottom: 20px;
}
h3 {
	font-size: 400%;
}
h4 {
	font-size: 250%;
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 400;
}
h5 {
	font-size: 190%;
	padding: 0;
	margin: 0;
}
h5 strong {
	font-size: 250%;
}

.big {
	font-size: 400%;
}

.medium {
	font-size: 250%;
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 400;
}

.small {
	font-size: 190%;
	padding: 0;
	margin: 0;
}

.small strong {
	font-size: 250%;
}

p {
	font-size: 180%;
	padding: 0;
	margin: 0;
	line-height: 1.5;
}
.inlineBlock {
	clear: none !important;
	float: none !important;
	display: inline-block !important;
	vertical-align: middle !important;
}
.darkArrowStart {
	background-image: url(../images/dark_arrow.png);
	background-position: top center;
	height: 257px;
}
.darkArrowEnd {
	background-image: url(../images/dark_arrow_end.png);
	background-position: bottom center;
	height: 257px;
	position: relative;
	bottom: 0;
	clear: both;
}
.lightArrowEnd {
	background-image: url(../images/light_arrow_end.png);
	height: 257px;
	position: relative;
	bottom: 0;
	clear: both;
}
.largeImage {
	width: 60%;
	margin: 20px auto;
}
figure {
	text-align: center;
}
figcaption {
	font-size: 130%;
	padding-top: 10px;
}
.gridContainer {
	width: 100%;
	max-width: 2100px;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
.sectionContainer {
	height: 100%;
}
#title {
	background-color: #33CEC3;
	background-image: url(../images/dark_arrow_bg.png);
	background-position:top;
	z-index: -99;
	-webkit-animation: hedgehog 3s linear infinite;
	animation: hedgehog 3s linear infinite;
}

#parallaxLogo {
	background-image: url(../images/std_lowdown_title.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 50% 40%;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}
.titleLogo {
	width: 90%;
	margin: 20% auto 30% auto;
	opacity: 0;
}
.titleBG {
	background-color: transparent;
	background-image: url(../images/std_lowdown_title.png);
	background-size: 87%;
	background-repeat: no-repeat;
	background-position: 50% 40%;
	opacity: 1;
}
#introduction {
	z-index: 5;
}
#thesis {
}
.USInfections {
}

#million{
	background-image:url(../images/20million.png);
	min-height: 220px;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center 220px;
}
#million p{
	opacity: 0;
	color: #ACDDDA;
}

.infectionsUS p{
	font-size: 210%;
}
#goodNews {
	background-color: #FF6F00;
	color: #FFF;
	margin: 0 auto;
}
#goodNews h2 {
	margin: 0 auto;
	line-height: 2;
	text-shadow:-1px -1px #ff6f00;
}
#leadIn {
	margin: 0 auto;
	padding: 100px 0 0 0;
}
#leadIn p.big {
	margin: 0;
}
.theSun {
	width: 100%;
	background-image: url(../images/sun.png);
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 800px;
	margin: 0 auto;
}
#STDgroup {
	margin: 200px auto;
}

.twoFigures {
	width: 45%;
	margin-left: 2.45%;
	clear: none;
	margin-bottom: 20px;
}

.twoFigures img {
	width: 80%;
}

.threeFigures {
	width: 32.6007%;
	margin-left: 1.0989%;
	clear: none;
	float: left;
	margin-bottom:0px;
}

.threeFigures img{
	width:90%;
}

.fourFigures {
	width: 22.5%;
	margin-left: 3.3%;
	clear: none;
	float: left;
	margin-bottom:0px;
}

.fourFigures img{
	width:100%;
}

#abstinence {
	background-position: top center;
}
#vaccination {
}
.bandages {
}
#hpvCancers {
	margin: 100px auto;
	min-height: 100px;
}
.pLeftSide {
	max-width: 32.6007%;
	text-align: left;
	float: left;
	display: block;
}
#hpvVaccine {
	margin: 100px auto;
}
.rightPie{
	float:right;
}

#vaccineSurvey {
	margin: 50px 0 100px 0;
	display: table-cell;
	vertical-align: middle;
}
#vaccineSurvey figure {
}
.pCenter {
	max-width: 49.4505%;
	margin-left: 1.0989%;
	clear: none;
	float: none;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.pieChart {
	width: 24.1758%;
	margin-left: 1.0989%;
	clear: none;
	float: none;
	display: inline-block;
	text-align:left;
}
#underutilized {
	margin: 100px 0;
}
#HPVcases {
	margin: 50px 0;
	display: table-cell;
	vertical-align: middle;
}
#HPVcases .pLeftSide {
	max-width: 32% !important;
}
#HPVcancerCanvas {
	max-width: 68%;
	float: none;
	clear: none;
	display: inline-block;
	padding: 0;
	vertical-align: middle;
}
#percent {
	max-width: 68%;
	font-size: 2000%;
	font-weight: 400;
	text-align: right;
	line-height: 1;
	letter-spacing: -20px;
}
#partners {
	background-position: top center;
}
#talk {
}
#condoms {
}

#condomUse {
	margin: 50px auto;
}
#condomUse img {
	margin-bottom: 50px;
	width:97%;
}
.pHalf {
	width: 49.4505%;
	margin-left: 1.0989%;
	clear: none;
	text-align: left;
}
#condom_instructions{	
}
#condom_instructions:hover {
	box-shadow: inset 0 0 0 7px #A33133;
}

#condom_instructions:focus {
	box-shadow: inset 0 0 0 7px #A33133;
}

#condom_tips{
	
}
#condom_tips:hover {
	box-shadow: inset 0 0 0 7px #E89E00;
}

#condom_tips:focus {
	box-shadow: inset 0 0 0 7px #E89E00;
}
#conversation{
}
#conversation:hover {
	box-shadow: inset 0 0 0 7px #D574AF;
}
#conversation:focus {
	box-shadow: inset 0 0 0 7px #D574AF;
}
#tested {
}
.positiveSigns {
}
.negativeSigns {
}
#testPositive {
}
#positive {
	margin: 100px auto;
	border-top:5px solid #000000;
	border-bottom:5px solid #000000;
}
#positive h2 {
	margin:50px auto;
}
#moreInfo {
}
.infoButton {
	font-size:300%;
	margin:0 auto 10px auto;
}
#read:hover {
	box-shadow: inset 0 0 0 7px #EB9811;
}
#read:focus {
	box-shadow: inset 0 0 0 7px #EB9811;
}
#follow:hover {
	box-shadow: inset 0 0 0 7px #64A5F4;
}
#follow:focus {
	box-shadow: inset 0 0 0 7px #64A5F4;
}
#subscribe:hover {
	box-shadow: inset 0 0 0 7px #F51E22;
}
#subscribe:focus {
	box-shadow: inset 0 0 0 7px #F51E22;
}
#like:hover {
	box-shadow: inset 0 0 0 7px #243BA3;
}
#like:focus {
	box-shadow: inset 0 0 0 7px #243BA3;
}
#contact:hover{
	box-shadow: inset 0 0 0 7px #A400C1;
}
#contact:focus{
	box-shadow: inset 0 0 0 7px #A400C1;
}

#testing {
	margin: 50px auto 130px auto;
}
.zeroMargin_desktop {
	margin-left: 0;
}

.hide_desktop {
	display: none;
}

.tooltip_link img{
	width:22px;
	height:22px;
	border-radius: 12px;
}

.tooltip_link img:hover {
	background-color: #FF5F00;
}

.twitter_link img{
	width:22px;
	height:22px;
	border-radius: 12px;
}

.twitter_link img:hover {
	background-color: #007CFF;
}

@-webkit-keyframes hedgehog{
	from {
		background-position:center 0px;
		}
	to {
		background-position:center 512px;
	}
}

@keyframes hedgehog{
	from {
		background-position:center 0px;
		}
	to {
		background-position:center 512px;
	}
}



}
<!-- css Animations --!>
